h3 {
    margin-top: 0;
}

.displayed-cart {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 400px;
    padding: 0px 20px;
    background-color: #a7c9ff;
}

.displayed-cart.displayed {
    display: flex;
    flex-direction: column;
}

.close-cart {
    margin-top: 5px;
    align-self: flex-end;
}

.product-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid darkgrey;
}

.product-box:last-of-type {
    border-bottom: 1px solid darkgrey;
}

.product-details {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.lexicon-cost {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 275px;
}

.qty-container {
    display: flex;
    align-items: flex-end;
}

.product-total {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}