.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    min-height: 10vh;
    padding: 16px 5%;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    text-align: left;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; 
}

li {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 0 16px;
    list-style-type: none;
}

.hero-logo:hover,
li:hover {
    color: #3882F6;
}


/* cart needs a hover pointer since it is not a link */
.cart:hover {
    cursor: pointer;
}